

header .headerTop{
    position: fixed;
    
    background-color:#3B3B3B;
    border-style: solid;
    border-color: #7FAB00 ;
    border-width: 0px 0px 10px 0px;

    width: 1920px;
    height: 3.3vw;
    
}
.logo{
 margin-top: 10px;
 margin-left: 10px;
}
.exit{

    float: right;
    margin-top: 10px;
    margin-right: 50px;
}
header .headerLeft{
    position: fixed;
    background-color:#3B3B3B;
    border-style: solid;
    border-color: #7FAB00 ;
    border-width: 0px 10px 0px 0px;
    top:3.3vw;
    width: 3.3vw;
    height: 1026px;
    
}

.headerLeft ul li{
    
    margin-top: 15px;
    list-style-type:none;
    position: relative;
    right: 25px;
}
.y{
  height: 175px;
    
}
.menu__box li a{
    font-size: 0px;
}
.menu__box li a img{
    width: 0px;
    height: 0px;
}
#menu__toggle{
  position: relative;
  bottom: 100px;
  height: 0px;
  width: 0px;
  /* background: #FFF; */
	/* box-shadow: 0 2px 5px rgba(185, 39, 39, 0); */
  /* background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
}
@media only screen and (max-width: 375px){
    header .headerTop{
        position: fixed;
        
        background-color:#3B3B3B;
        border-style: solid;
        border-color: #7FAB00 ;
        border-width: 0px 0px 10px 0px;
    
        width: 375px;
        height: 45px;
        
    }
    header .headerLeft{
        position: fixed;
        background-color:#3b3b3b00;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0);
        border-width: 0px 100px 0px 0px;
        top:0px;
        width: 0px;
        height: 0px;
        
    }
    .logo{
        margin-top: 5px;
        margin-left: 5px;
        width: 205px;
        height: 34px;
    }
    .exit{
        width: 0px;
        height: 0px;
    }
    .pc li a img{
        width: 0px;
        height: 0px;
        
    }
    .menu__box li a{
        font-size: 24px;
    }
    .menu__box li a img{
        width: 35px;
        height: 35px;
    }
    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        float: right;
        
        position: fixed;
        top: 20px;
        left: 320px;
      
        width: 26px;
        height: 26px;
        
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #616161;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 300px;
        height: 100%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #3B3B3B;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #fff;
      
        
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .img{
       
        position: relative;
        top: 8px;
        margin-right: 10px;
        
       
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
}